
/* Login */

.login {
 margin: 0;
 height: 100vh;
 background-color: #f5f5f5;
}

.login-form {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 450px;
 background: white;
 box-shadow: 0px 5px 10px rgb(0 0 0 / 15%);
}

.login-form__title {
 color: #6b6a6a;
 text-align: center;
}

.login-form__info {
 display: flex;
 flex-direction: column;
 padding: 0 60px;
}

.login-form__input {
 padding: 12px 15px;
 margin-bottom: 15px;
 border-radius: 0;
 outline: none;
 border: none;
 background-color: #f9f3f3;
 color: rgb;
}

.login-form__alert {
  color: red;
  padding: 0px 0 10px 0;
}
 
.login-form__action {
 text-align: center;
 padding: 5px 0px 20px 0px
}

.login-form__button {
 background-color: orange ;
 border: none;
 color: white;
 padding: 8px 35px;
 border-radius: 7px;
 font-size: 12px;
 box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.login-form__input::placeholder {
 color: rgba(0, 0, 0, 0.1);
}


.login-form__sign-up-link {
 text-decoration: none;
 color: rgb(89, 89, 231);
 padding-left: 15px;
 font-weight: 500;
}

/* Dash Board */

.db__header {
 display: flex;
 align-items: center;
 justify-content: right;
 height: 50px;
 box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.db__header-icon {
 font-size: 26px;
 margin-right: 3.5px;
}

.db__header-title {
 font-weight: 600;
}

.db__sidebar {
 position: absolute;
 top: 0;
 left: 0;
 /* z-index: 1; */
 background-color: white;
 width: 10%;
 box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.05);
 height: 100vh;
 padding-top: 15px;
}

.db__sidebar-header {
 font-weight: 600;
 margin-bottom: 25px;
 padding-left: 10px;
}

.db__sidebar-header-icon {
 font-size: 23px;
 margin: 0 5px;
}

.db__sidebar-menu-wrapper {

}

.db__sidebar-menu {
 list-style: none;
 padding-left: 0;
}

.db__sidebar-menu-item {
 margin-bottom: 15px;
 padding-left: 10px;

}

.db__sidebar-menu-item-link {
 text-decoration: none;
 color: black;
}

.db__sidebar-menu-item-link:hover  {
 color: rgb(1, 209, 209);
}

.db__sidebar-menu-item-icon {
 margin: 0px 10px;
}

.db__contents {
 padding-top: 50px;
 padding-left: 100px;
 padding-bottom: 70px;
 padding-right: 100px;
 margin-left: 10%;
 background-color: #ececec;
}

.db__hambuger-mobile {
 display: none;
 margin-bottom: 15px;
}


.db__hambuger-mobile-icon {
  font-size: 25px;
}


.db__contents-top {
 background-color: white;
 border-radius: 5px;
 color:#6b6a6a;
 box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.db__table {
 width: 100%;
}

.db__table th {
 text-align: left;
 border-bottom: 2px solid rgba(0, 0, 0, 0.1);
 padding: 10px 10px;
}

.db__table td {
 border-bottom: 1px solid rgba(0, 0, 0, 0.1);
 padding: 10px 10px;
}

.db__table-total {
 padding: 10px 33.5% 10px 10px;
 display: flex;
 justify-content: space-between;
 font-weight: 600;
}

.db__contents-bottom {
 display: flex;
 margin-top: 60px;

}

.db__chart {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: white;
 padding: 20px 100px ;
 width: 75%;
}


/* Dash Board Form */
.db__form {
 background-color: white;
 margin-left: 100px;
 width: 100%;
 padding: 50px 25px;
}

.db__form-alert {
 color: red;
}

#db__form-alert-name {
  display: none;
}

.db__form-wrapper {
 padding: 10px 5px;

}

.db__form-input {
 width: 100%;
 padding: 20px 7px;
 outline: none;
 border: none;
 background-color: #f7f7f7;
 box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
 margin-bottom: 15px;
 
}

.db__form-input::placeholder {
 color: #c4c2c2; 
 
}

.db__form-button-wrapper {
 text-align: center;
}

.db__form-button {
 margin-top: 15px;
 background-color: orange;
 color: white;
 outline: none;
 border: none;
 padding: 15px 20px;
 border-radius: 5px;
 cursor: pointer;
}

/* Logs */

.log__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log__action-title {
  
}

.log__search {
  
}

.log__search-input {
  background-color: #e7cdcd;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 3px;

}

.log__search-input::placeholder {
 color: #c0baba;

}

.log__search-button {
  background-color: orange;
  color: white;
  border: none;
  padding: 5px 20px;
  border-radius: 8px;
}

.logs__paging {
}

.logs__paging-wrapper {
}

.logs__paging-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logs__paging-button {
 display: flex;
 align-items: center;
 list-style: none;
 margin: 0 5px;
 border-radius: 90%;
 background-color: rgb(116, 116, 252);
 color: white;
 border: none;
 cursor: pointer;
}

.logs__paging-button a {
  padding: 10px 20px;

}

.logs__paging-button:hover {
  background-color: greenyellow
}

.logs__paging-nav-button {
  background-color: white;
  padding: 10px 15px;
  border: 1px solid #b3b0b0;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 5px;
}

.logs__paging-nav-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}


/* Mobile */

.db__header-mobile {
  display: none;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: #b3b0b0;
  margin-bottom: 30px;
}

.db__header-mobile-icon {
 font-size: 22px;
}

.db__header-mobile-title {
 font-weight: 600;
}

.db__wrapper {
  padding-top: 15px;
  padding-left: 10px;
  background-color: #ececec;
}

.number-page {
  display: flex;
}

.active {
  background-color: greenyellow;
}

.active-menu {
  color: rgb(1, 209, 209);
}

.btn-disabled {
  display: none;
}